 <div class="header">
     <div class="container">
       <div class="head-panel">
         <div class="avatar-panel">
           <a href="{{ site.baseurl }}/"><img class="avatar" src="/assets/img/avatar.png"/></a>
         </div>
         <div class="title-panel">
           <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
           <div class="subtitle">{{ site.description }}</div>
         </div>
      </div>
        <nav class="nav-collapse">
          <ul class="noList">
            {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
              <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
     </div>
 </div><!-- end .header -->
