@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(/assets/css/default.css);



body {
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.65;
	font-size: 1.0em;
}

.avatar-panel {
	border: 2px solid white;
	width: 54px;
	height: 54px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	float: left;
	margin-right: 20px;
}

.avatar-panel img {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
}

.subtitle {
	display: none;
}

.post p {
	text-align: justify;
}

blockquote {
    font-size: 1.1em;
		color: #174A2E;
}

#impliedsubmit {
	color: #405430;
}

@media (min-width: 43.75em) {
}

@media only screen and (min-width: 800px) {
	.avatar-panel img {
		width: 100px;
		height: 100px;
		-webkit-border-radius: 75px; /* Saf3+, Chrome */
		border-radius: 75px; /* Opera 10.5, IE 9 */
	}

	.avatar-panel {
		width: 104px;
		height: 104px;
		-webkit-border-radius: 77px; /* Saf3+, Chrome */
		border-radius: 77px; /* Opera 10.5, IE 9 */
	}

	.header h1 {
		float: none;
	}
	.subtitle {
		display: inherit;
	}

	.post h1,
	.post h2,
	.post h3,
	.post h4,
	.post h5,
	.post h6,
	.post p,
	.post ul,
	.post ol,
	.post dl,
	.post .pageTitle,
	#home .posts,
	#home .pageTitle,
	#home .pagination {
		width:98%
	}

	.menu {
		display: -webkit-flex !important;
		display: -ms-flex !important;
		display: flex !important;
	}
	
	.menu li {
		display: inline-block;
		list-style: none;
	}
	
	.menu li:not(:last-of-type) {
	  margin: 0 5px;
	  width: auto;
	}
	
	.menu li:last-of-type {
		margin-left: auto;
		text-align: right;
	}
}

pre, pre.highlight {
	margin: 0 !important;
}
