---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>

  {{ content }}


  <div id="disqus_thread"></div>
  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  /*
  var disqus_config = function () {
  this.page.url = {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = {{page.id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//milendyankovcom.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


  <script id="dsq-count-scr" src="//milendyankovcom.disqus.com/count.js" async></script>

  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">

    {% if page.previous.url %}
      {% assign prevPage = page.previous %}
      {% for counter in (0..100) %}
        {% unless prevPage %}
          {% break %}
        {% endunless %}
        {% if prevPage.hidden %}
          {% assign prevPage = prevPage.previous %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if prevPage %}
        <a class="prev{% if prevPage.image %} image{% endif %}" href="{{ prevPage.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ prevPage.title }}</span>
        {% if prevPage.image %}
          <img src="{{ '/assets/img/' | prepend: site.baseurl | append: prevPage.image }}" alt="">
        {% endif %}
        </a>
      {% endif %}
    {% endif %}

    {% if page.next.url %}
      {% assign nextPage = page.next %}
      {% for counter in (0..100) %}
        {% unless nextPage %}
          {% break %}
        {% endunless %}
        {% if nextPage.hidden %}
          {% assign nextPage = nextPage.next %}
        {% else %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if nextPage %}
        <a class="next{% if nextPage.image %} image{% endif %}" href="{{ nextPage.url | prepend: site.baseurl }}"><span>{{ nextPage.title }}&nbsp;&raquo;</span>
        {% if nextPage.image %}
          <img src="{{ '/assets/img/' | prepend: site.baseurl | append: nextPage.image }}" alt="">
        {% endif %}
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56f59336be476895"></script>
